﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<p>Данная реализация Шифра Цезаря осуществленная исключительно в учебных целях.</p>
<p> На главной странице вы можете зашифровать, расшифровать информацию как из документа, так и из поля ввода.</p>
<p> Направление шифрованя может быть как в положительную сторону так и в отрицательную. </p>
<p>В необходимом поле ввода можно ввести значение ключа сдвига, но при нажатии на галочку Автоподбора, программа постарается сама подобрать ключ исходя из словаря.</p>
<h3>Удачи</h3>

