﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<address>
    Санкт-Петербург<br />
    <abbr title="Phone">P:</abbr>
    +7(921)438-89-77
</address>
<address>
    <strong>Автор: Александра Симанович:</strong>   <a href=" https://vk.com/kotichmone">vk.com/kotichmone</a><br />
</address>