﻿
<div class="jumbotron">
    <h1>Шифрование</h1>
</div>
<div class="row">
    <div class="col-md-6">

        @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="upload" />
            <br />
            <input id="adr" name="adr" type="radio" value="text" checked="checked" />
            <span>Из текста</span>
            <input id="adr" name="adr" type="radio" value="file" />
            <span>Из файла</span> <br />
            <input id="vector" name="vector" type="radio" value="left" />
            <span>Налево </span>
            <input id="vector" name="vector" type="radio" value="right" checked="checked" />
            <span>Направо</span> <br />
            <span>Введите ключ </span> <input id="textkey" name="textkey" type="text" min="0" max="100" value="@ViewBag.Textkey" />
            <input id="auto" name="auto" type="checkbox" value="auto" />
            <span>  Автоподбор</span>
            <br /> <input type="submit" value="GO" /><br />
            <textarea id="textload" name="textload" cols="1000" rows="10">@ViewBag.TextFile</textarea>}
    </div>
    <div class="col-md-6">
        <h3>Результат</h3>
        <br /><br /><br /><br />


        @using (Html.BeginForm("Save", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {<textarea id="textwill" name="textwill" cols="1000" rows="10">@ViewBag.TextFilewill</textarea>
            <p>@ViewBag.Textexc</p>
            <input type="file" name="load" /><br>
            <input type="submit" value="Загрузить" /><br />
            <input id="save" name="save" type="radio" value="docx" />
            <span>Docx</span>
            <input id="save" name="save" type="radio" value="txt" checked="checked" />
            <span>Txt</span> <br />
        }
    </div>
</div>